<?xml version="1.0"?>
<config>
    <modules>
        <KuafuSoft_EcomPayment>
            <version>0.1.0</version>
        </KuafuSoft_EcomPayment>
    </modules>
    <frontend>
        <routers>
            <ecompayment>
                <use>standard</use>
                <args>
                    <module>KuafuSoft_EcomPayment</module>
                    <frontName>ecompayment</frontName>
                </args>
            </ecompayment>
        </routers>
        <layout>
            <updates>
                <ecompayment>
                    <file>ecompayment.xml</file>
                </ecompayment>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<ecompayment>
				<use>admin</use>
				<args>
					<module>KuafuSoft_EcomPayment</module>
					<frontName>ecompayment</frontName>
				</args>
			</ecompayment>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<KuafuSoft_EcomPayment>
							<title>EcomPayment Module</title>
							<sort_order>10</sort_order>
						</KuafuSoft_EcomPayment>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<ecompayment>
					<file>ecompayment.xml</file>
				</ecompayment>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <ecompayment>
                <class>KuafuSoft_EcomPayment_Model</class>
                <resourceModel>ecompayment_mysql4</resourceModel>
            </ecompayment>
            <ecompayment_mysql4>
                <class>KuafuSoft_EcomPayment_Model_Mysql4</class>
            </ecompayment_mysql4>
        </models>
        <resources>
            <ecompayment_setup>
                <setup>
                    <module>KuafuSoft_EcomPayment</module>
                </setup>
            </ecompayment_setup>
        </resources>
        <blocks>
            <ecompayment>
                <class>KuafuSoft_EcomPayment_Block</class>
            </ecompayment>
        </blocks>
        <helpers>
            <ecompayment>
                <class>KuafuSoft_EcomPayment_Helper</class>
            </ecompayment>
        </helpers>
    </global>
    <default>
        <payment>
            <ecompayment_standard>
                <active>1</active>
                <customer_id></customer_id>
                <secret_key></secret_key>
                <model>ecompayment/standard</model>
                <order_status>processing</order_status>
                <test>1</test>
                <debug>1</debug>
                <title>Ecom Payment</title>
            </ecompayment_standard>
        </payment>
    </default>
</config>